* {
    margin: 0; 
    padding: 0;
    overflow: hidden;
}
body {
    background-color: #F88379;
}
@font-face {
    font-family: 'Sourcecode_Pro'; 
    src: url(fonts/static/SourceCodePro-Regular.ttf); 
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto_REG'; 
    src: url(fonts/Roboto/Roboto-Regular.ttf); 
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato_Light';
    src: url(fonts/Lato/Lato-Light.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Stanley'; 
    src: url(fonts/StanleyPersonalUse-BWnRd.ttf);
    font-style: normal;
    font-weight: normal; 
}

#nav-bar {
    display: flex;
    background-color: #F88379;
    margin-bottom: 0;
    list-style-type: none;
}

#nav-bar li:not(:first-child) {
    margin-top: 10px;
    padding: 10px;
    font-family: Roboto_REG;
    font-size: 15pt;
    text-decoration: none;
}

#nav-bar li:last-child {
    margin-right: 10px;
}
#nav-bar li a {
    text-decoration: none;
    color: white;
}
.logo {
    padding: 10px;
    margin-right: auto;
    margin-left: 10px;
    font-size: 30pt;
    font-family: Stanley;
}

/* Loader Screen */ 
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 9999;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }